<%= render "shared/navbar" %>
<%= render "shared/flash" %>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <%= link_to 'Back to results', itineraries_path(request.query_parameters), class: "btn btn-primary", id: "back-to-results" %>
  </div>


<%= render "shared/join" %>


