/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.message-summary {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.message-details {
  margin: 0.5rem 0 1rem 0;
  padding: 0.5rem;
  border-left: 2px solid #ddd;
}

.message-details.is-hidden {
  display: none;
}

.message-details-toggle {
  margin-left: auto;
}
