/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/*
  Global
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 1.2;
}

/*Login/Logout*/

/*Background */
body.signin-page {
  background: lightgrey;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/*Card */
.signin-container {
  background: white;
  border-radius: 16px;
  padding: 48px 40px;
  max-width: 420px;
  width: 100%;
}

.signin-container h1 {
  color: black;
  font-size: 32px;
  text-align: center;
  margin-bottom: 12px;
}

.signin-container form {
  margin-top: 32px;
}

.signin-container form > div {
  margin-bottom: 24px;
}

.signin-container label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  display:flex;
}

.signin-container input[type="text"],
.signin-container input[type="password"],
.signin-container select{
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
}

.signin-container input[type="submit"] {
  width: 100%;
  padding: 14px 24px;
  font-size: 16px;
  color: white;
  background-color: gray;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
}
.signin-container input[type="submit"]:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.form-footer {
  text-align: center;
  margin-top: 24px;
  color: #6b7280;
  font-size: 14px;
}


/* Flash Messages */
.flash-notice,
.flash-alert {
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 500;
}

.flash-notice {
  background-color: lightgreen;
  color: green;
  border: 1px solid rgb(115, 192, 115);
}

.flash-alert {
  background-color: pink;
  color: red;
  border: 1px solid palevioletred;
}




/*
  Message
*/

.message-summary {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.message-details {
  margin: 0.5rem 0 1rem 0;
  padding: 0.5rem;
  border-left: 2px solid #ddd;
}

.message-details.is-hidden {
  display: none;
}

.message-details-toggle {
  margin-left: auto;
}
