/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/*
  Global
*/

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');
html, body {
  height: 100%;
}
.account-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px); 
}

.search-form {
  display: flex;
  justify-content: center;
  min-height: 20vh; 
}

.account-card {
  width: 100%; 
  max-width: 400px;
}

.search-card {
  width: 100%; 
  max-width: 90vw;
}

.itinerary-cards-container {
  max-width: 1200px;
  margin: 2rem auto; 
  padding: 0 1rem;  
}


.itinerary-card {
  text-align: center;         
  width: 100%;                
}




